*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #39297b;
    color: #fff;
}
h1{
    text-align:center ;
    font-weight: 600;
    margin: 100px auto 50px;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    background: #434989;
    border-radius: 8px;
}
form input{
    flex:1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
}
form button{
    padding: 0 40px;
    border: 0;
    outline: 0;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;

}
::placeholder{
    color: #fff;
    font-size: 18px;
}
#show-more-btn{
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}
#search-result{
    width: 80%;
    display: grid;
    margin: 100px auto 50px;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}